.Rproj.user
.Rhistory
.RData
.Ruserdata
*.RData
*.Rproj
*.log
*.csl
*.png
*.bib
.DS_Store
.Rproj.user
figures/
processed*
*.RData
*.pdf
*.log
*.nc
.Rapp.history
*.csv
*.tex
*.bst
*.clo
*.cls
*.sty
*.rtf
preprint/
*.zip
*.pages
*.docx
*.html
*.dvi
*.gz
*.ps
*.aux
